
.header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    align-items: center;
    position: relative;
}


.header__logo {
    height: 60px;
}

.responsive-menu {
    width: 100%;
}

.responsive-menu__checkbox,
.responsive-menu__label {
    display: none;
}


.responsive-menu__container {
    display: flex;
    align-items: center;
}

.nav {
    margin: 0 auto;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
}

.nav__link {
    color: var(--clr-dark);
    transition: color .2s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--clr-primary);
}


@media (max-width: 650px) {

    .overlay {
        height: 100vh;
        background-color: rgba(0, 0, 0, .1);
        position: fixed;
        top: 7rem;
        left: 3rem;
        right: 0;
        opacity: 0;
        transition: opacity .3s ease .5s;
    }


    .responsive-menu__container {
        position: absolute;
        top: 84%;
        left: 0;
        right: 25%;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        background-color: white;
        border-right: 2px solid rgba(0, 0, 0, .4);
        border-top-right-radius: 15px;
        height: 100vh;
        transform: translateX(-600px);
        transition: all .2s ease-out;
    }
    
    .responsive-menu__checkbox:checked ~ .responsive-menu__container {
        display: block;
        transform: translateX(0);
        transition: transform .5s ease-in-out, opacity .8s ease-in;
    }

    .responsive-menu__checkbox:checked ~ .overlay {
        opacity: 1;
        transition: opacity .3s ease 0;
    }

    .nav {
        margin: 0;
    }


    .nav__list {
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 0;
    }

    .nav__link {
        width: 100%;
        padding: 1.5rem 0;
    }

    .nav__item {
        border-bottom: 1px dashed rgb(166, 166, 166);
    }

    .header__cta {
        width: 100%;
        text-align: center;
    }

    .responsive-menu__label {
        display: block;
        position: relative;
        margin-left: auto;
        width: 20px;
        height: 2px;
        background-color: var(--clr-dark);
        box-sizing: content-box;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
    }

    .responsive-menu__label::after,
    .responsive-menu__label::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--clr-dark);
        position: absolute;
        top: 7px;
        transition: all .2s ease;
    }

    .responsive-menu__label::before  {
        top: -7px;
    }

    .responsive-menu__checkbox:checked ~ .responsive-menu__label {
        height: 0;
    }

    .responsive-menu__checkbox:checked ~ .responsive-menu__label::after {
        transform:rotate(45deg);
    }

    .responsive-menu__checkbox:checked ~ .responsive-menu__label::before {
        transform:rotate(-45deg);
    }
    
}