@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #8a6af8;
    --clr-dark: #292830;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/***********
  UTILITIES
************/

/* General */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

/***********
 COMPONENTS
************/

.btn {
    color: black;
    padding: .7em 1em;
    box-shadow: inset 0px 0px 0px 1px black;
    border-radius: .5em;
    white-space: nowrap;
}

.btn--primary {
    color: #fff;
    background-color: var(--clr-primary);
    box-shadow: none;
    transition: color .2s ease-in, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.btn--primary:hover,
.btn--primary:focus {
    color: var(--clr-primary);
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1px var(--clr-primary);
}

.btn__icon {
    margin-left: 1rem;
}


