
.offer {
    padding: 9rem 0;
}


.offer__title {
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 7rem;
}

.flex-wrapper {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.flex-wrapper > div {
    width: 100%;
}

.flex-wrapper > img {
    width: 100%;
}



.offer__item {
    cursor: pointer;
    position: relative;
    padding: 3rem 2rem;
    box-shadow: 0px 10px 17px rgb(242, 242, 242);
    border-radius: 1rem;
}

.offer__item + .offer__item {
    margin-top: 1.5rem;
    z-index: 1;
}

.offer__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
    transition: all .2s ease-in-out;
}


.offer__item--orange::after {
    border-left: 1rem solid rgb(255, 81, 81);
    background-image: linear-gradient(to right, rgb(255, 81, 81), orange);
}

.offer__item--blue::after {
    border-left: 1rem solid rgb(69, 109, 229);
    background: linear-gradient(90deg, rgb(69, 109, 229) 0%, rgba(195,84,237,1) 100%);  
}

.offer__item--green::after {
    border-left: 1rem solid rgba(61,179,68,1);
    background: linear-gradient(90deg, rgba(61,179,68,1) 0%, rgba(34,193,195,1) 100%); 
}

.offer__item--active::after {
    border-radius: 1rem;
    width: 100%;
}



/* 
.offer__item--active {
    transform: translateX(2rem);
} */

@media (max-width: 800px) {
    .flex-wrapper {
        flex-direction: column;
    }
}