
.process {
    padding: 5rem 0 20rem;
}
.process__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
}

.process-special-item {
    align-self: end;
    padding-bottom: 2rem;
}

.process-special-item__title {
    line-height: 1.2;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}